body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

body {
  max-width: 640px;
  margin: 0 auto;
  background: #D8D8D8; }

#imges {
  width: 100%; }

#imges img {
  width: 100%;
  display: none; }

#imges img.show {
  display: block; }

ul li {
  list-style: none;
  display: inline-block;
  width: 6px;
  height: 6px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0px; }

li {
  background-color: #999;
  color: #999; }

#number {
  float: right;
  position: relative;
  top: -23px;
  width: 100%;
  text-align: center; }

#number li.show {
  background-color: white;
  color: white;
  border: 1px solid black; }

.tuan-footer {
  box-sizing: content-box; }

.tuan-footer div {
  height: 50px;
  position: fixed;
  bottom: -1px;
  z-index: 400;
  line-height: 50px;
  right: 0;
  left: 0;
  border: 1px solid #e2e2e2;
  background: #F6FFE8; }

.tuan-footer div a {
  width: 25%;
  display: block;
  text-align: center;
  float: left;
  text-decoration: none;
  color: black; }

.tuan-footer i {
  display: block;
  margin-top: 6px; }

.tuan-footer span {
  width: 100%;
  margin-top: -9px;
  display: block;
  color: #808080; }

.tuan-footer div a i img {
  width: 17px;
  display: block;
  margin-left: 47%;
  margin-right: 48%; }

.nav {
  width: 100%; }

.nav div {
  margin: 0 auto;
  width: 100%;
  text-align: center; }

.nav div img {
  width: 100%; }

.gongneng {
  width: 100%;
  background: white;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; }

.gongneng div {
  margin: 0 auto;
  height: 100px; }

.gongneng div ul li {
  float: left;
  width: 25%;
  list-style: none;
  background: white; }

.gongneng div ul li img {
  width: 100%; }

.chanpin {
  width: 100%;
  background: white;
  margin-bottom: 10px;
  display: table;
  padding-top: 10px;
  padding-bottom: 10px; }

img.chanpintu {
  width: 100%; }

img.bijia {
  margin-left: 40px;
  margin-bottom: -38px;
  z-index: 100;
  position: relative;
  width: 50px; }

.chanpin div {
  margin-left: 20px; }

label {
  float: left;
  margin-top: 20px;
  color: red; }

aside {
  float: right;
  margin-top: 20px;
  color: white;
  padding: 4px;
  margin-right: 5px; }

aside span {
  background: black;
  width: 80px;
  display: block;
  text-align: center;
  float: left;
  padding-top: 4px;
  padding-bottom: 3px;
  border-radius: 4px 0px 0px 4px; }

i.fa.fa-group {
  margin-right: 3px; }

aside a {
  width: 72px;
  display: block;
  background: #ff534c;
  text-align: center;
  float: left;
  padding-top: 4px;
  padding-bottom: 3px;
  border-radius: 0px 4px 4px 0px; }

aside a::after {
  content: "";
  width: 13px;
  height: 13px;
  display: block;
  border-top: 1px solid white;
  border-right: 1px solid white;
  float: right;
  margin-right: 8px;
  transform: rotate(45deg); }

.chanpin b {
  font-size: 30px;
  color: red; }

.chanpin label span {
  font-size: 14px;
  text-decoration: line-through;
  color: #2A2727; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

body {
  max-width: 640px;
  margin: 0 auto;
  background: #D8D8D8; }

.tuan-footer {
  box-sizing: content-box; }

.tuan-footer div {
  height: 50px;
  position: fixed;
  bottom: -1px;
  z-index: 400;
  line-height: 50px;
  right: 0;
  left: 0;
  border: 1px solid #e2e2e2;
  background: #F6FFE8; }

.tuan-footer div a {
  width: 25%;
  display: block;
  text-align: center;
  float: left;
  text-decoration: none;
  color: black; }

.tuan-footer i {
  display: block;
  margin-top: 6px; }

.tuan-footer span {
  width: 100%;
  margin-top: -9px;
  display: block;
  color: #808080; }

.tuan-footer div a i img {
  width: 17px;
  display: block;
  margin-left: 47%;
  margin-right: 48%; }

.myorder {
  width: 100%;
  background: white;
  text-align: center;
  line-height: 50px; }

.myorder h4 {
  cursor: pointer; }

.myorder h4 span {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  display: inline-table;
  margin-left: 4px;
  transition: transform 2s;
  transform-origin: 50% 50%; }

.myorder h4 span:hover {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin: 50% 50%; }

.myorder ul li {
  font-size: 15px;
  width: 24%;
  color: black;
  line-height: 30px;
  height: 30px;
  background: #D8D8D8; }

.ordermenu {
  background: white;
  border-top: 1px solid #E0E0E0; }

.tuan {
  background: white; }

ul.tuanmenu {
  height: 30px;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0; }

.tuanmenu li {
  font-size: 15px;
  width: 20%;
  color: black;
  line-height: 30px;
  height: 30px;
  background: white;
  border-radius: 0px;
  display: block;
  float: right; }

.danzi {
  height: 200px;
  background: white; }

.danzi a {
  font-size: 14px; }

/*# sourceMappingURL=index.css.map */
