

$bg:white;

.myorder {
    width: 100%;
    
   
background:$bg;
text-align: center;
    line-height: 50px;
}

.myorder h4{cursor:pointer;}

.myorder h4 span{width:0;height:0;
border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 10px solid black;
display: inline-table;
    margin-left: 4px;
transition:transform 2s;
transform-origin:50% 50%;
}

.myorder h4 span:hover{
transform:rotate(180deg);
transform-origin:50% 50%;
-webkit-transform:rotate(180deg);
-webkit-transform-origin:50% 50%;
}



.myorder ul li {
    font-size: 15px;
    width: 21%;
color:black;
    line-height: 30px;
height:30px;
    background: #D8D8D8;
    margin-left: 3px;
    margin-right: 3px;
}

.ordermenu {
    background: white;
    border-top:1px solid #E0E0E0;
}

.tuan {
    background: white;
}

ul.tuanmenu {
height:30px;
    border-top: 1px solid #E0E0E0;
border-bottom: 1px solid #E0E0E0;
}

.tuanmenu li {
    font-size: 15px;
    width: 20%;;
color:black;
    line-height: 30px;
height:30px;
    background: white;
border-radius: 0px;
display: block;
    float: right;

}

.danzi {
    height: 200px;
background:$bg;
margin-bottom: 10px;
}
.danzi a {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    display: block;
margin-left: 5px;
}


.chanpina{margin-bottom: 0px;}



.chanpintua img {
    height: 80px;
}

.chanpina div {
    display: table-cell;
    vertical-align: top;

}
.chanpina p {
    font-size: 15px;
    margin-top: 4px;
}

p.clearorder a {
    text-align: right;
    margin-right: 15px;
    display: block;
width: auto;
margin-top: 5px;
}

p.clearorder span {
    height: 30px;
    display: inline-table;
    line-height: 30px;
border:1px solid #5f646e;
cursor:pointer;
    padding: 3px;
border-radius:3px;
margin-top: 10px;
}